body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21c05191;
    padding: 10px 20px;
}
.navbar img {
    height: 50px;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    margin-left:80px;
}
.navbar ul li a {
    font-family: "Do Hyeon", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navbar ul li a:hover {
    color: #ddd;
}